<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/font.css">
    <link rel="stylesheet" href="/src/css/contents.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>
<body>
<div id="index_box">
    <%- include('../common/left_menu') %>
    <div id="box_right">
        <div id="box_right_padding">
            <p id="right_title">All Article</p>
            <p id="right_content">This is a page where you can see the entire article.</p>
            <div id="box_list">
                <% for (i = 0; i < board.length; i++){ %>
                    <div class="all_article_box" onclick="location.href = 'http://anhye0n.me/contents/view?title=<%= board[i].title %>'">
                        <!--<img class="article_box_img" src="../../../src/img/diego-ph-5LOhydOtTKU-unsplash2.png" alt="">-->
                        <div class="article_box">
                            <p class="article_box_title"><%= board[i].title %></p>
                            <div class="article_box_box">
                                <p class="article_box_tag"># <%= board[i].categori %></p>
                                <p class="article_box_date"><%= board[i].date %></p>
                            </div>
                            <p class="article_box_content"><%= board[i].content %></p>
                            <hr style="margin-top: 30px">
                        </div>
                        <div class="article_box_bottom">
                            <span style="color: #7f7f7f">by </span>
                            <span style="font-weight: bold"><%= board[i].writer %></span>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/src/js/main.js"></script>
</html>