<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/font.css">
    <link rel="stylesheet" href="/src/css/contents.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>
<body>
<div id="index_box">
    <%- include('../common/left_menu') %>
    <div id="box_right">
        <div id="box_right_padding">
            <p id="right_title">Board</p>
            <p id="right_content"><%= board[0].date %></p>
            <div id="board_view_box">
                <p id="board_view_title"><%= board[0].title %></p>
                <hr style="width: 70px; border: 3px solid #555555; margin-left: 2px; margin-bottom: 20px">

                <p id="board_view_tag"># <%= board[0].categori %></p>
                <div id="board_view_content_box">
                    <p id="board_view_content"><%- board[0].content.replace(/\n/g, '<br/>') %></p>
                </div>
                <a>수정</a>
                <button type="button" id="contents_uplaod"
                        onclick="location.href='http://anhye0n.me/contents/edit?title=<%= board[0].title %>&writer=<%= board[0].writer %>'">
                    수정
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script type="text/javascript" src="/src/js/main.js"></script>
</html>