<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <% if(locals.user === undefined){ %>
        <script>alert('로그인 되지 않았습니다.');
            location.href = 'http://velog.anhye0n.com'</script>
    <% }else if (user.id !== 'ajh08070'){ %>
        <script>alert('관리자가 아닙니다.');
            location.href = 'http://velog.anhye0n.com'</script>
    <% } %>
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/font.css">
    <link rel="stylesheet" href="/src/css/contents.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>
<body>
<div id="index_box">
    <%- include('../common/left_menu') %>
    <div id="box_right">
        <div id="box_right_padding">
            <i id="menu_open" onclick="menu_open()" class="fas fa-bars"></i>
            <p id="right_title">Edit Categori</p>
            <p id="right_content">This page can you to add and delete categories.</p>
            <p id="right_content_errmsg">
                <% if (locals.del_msg) { %>
            <p id="right_content_errmsg"><%= del_msg %></p>

            <% } else if(locals.add_msg){ %>
                <p id="right_content_errmsg"><%= add_msg %></p>
            <% } %>
            <div id="edit_categori_box">
                <div id="edit_categori_left">
                    <p id="edit_categori_left_titile"># 카테고리 제거</p>
                    <hr style="width: 70px; border: 3px solid #555555; margin-left: 2px; margin-top: 0;margin-bottom: 20px">
                    <ul>
                        <% for (i = 0; i < categories.length; i++){ %>
                            <li>
                                <button onclick="location.href='http://velog.anhye0n.com/api/user/del_categori?categori_name=<%= categories[i].categories %>'">
                                    x
                                </button>
                                <p><%= categories[i].categories %></p>
                            </li>
                        <% } %>
                    </ul>
                </div>
                <div id="edit_categori_right">
                    <form id="add_categori" action="/api/user/add_categori" method="post" enctype="multipart/form-data">
                        <input type="text" id="edit_categori_right_title" name="categori_name" placeholder="# 카테고리 추가"
                               autofocus
                               required autocomplete="off">
                        <hr style="width: 70px; border: 3px solid #555555; margin-left: 2px; margin-bottom: 20px">

                        <div>
                            <input placeholder="대표 이미지" type="file" id="edit_categori_right_contents"
                                   name="categori_thumbnail">
                        </div>
                        <button type="submit" id="edit_categori_right_uplaod">upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/src/js/main.js"></script>
</html>